.first-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 5%;

  width: 100%;
  height: 100%;
  background: url("/assets/homepage_background_horizontal.webp") no-repeat center center fixed;
  background-size: cover;

  margin-bottom: 80px;
}

.spacer {
  flex: 1 1 auto;
}

.header {
  position: sticky;
  top: 0;
  background: transparent;
  transition: background 250ms ease-out;

  .header-button {
    margin: 0 10px;
    border-radius: 500px
  }
}

.header-scrolled {
  background: white;
}

.link {
  text-decoration: underline;
  color: black;
}

.delivery-address-container {
  display: flex;
  gap: 10px;
  height: 56px;

  .delivery-address-action {
    height: 100%;
  }
}

.black-button {
  background-color: black !important;
  color: white !important;
  font-weight: bold;
}

.features-container {
  display: flex;
  justify-content: space-around;
  padding: 0 5%;

  margin-bottom: 60px;
}

.feature-card {
  max-width: 25vw;
}

#map-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 60px;
}

.footer {
  display: flex;
  justify-content: center;
}

// github corner https://github.com/tholman/github-corners
.github-corner:hover .octo-arm {
  animation:octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
  0%, 100% {
    transform:rotate(0)
  }
  20%,60%{
    transform:rotate(-25deg)
  }
  40%,80%{
    transform:rotate(10deg)
  }
}
@media (max-width:500px){
  .github-corner:hover .octo-arm{
    animation:none
  }
  .github-corner .octo-arm{
    animation:octocat-wave 560ms ease-in-out
  }
}

